Host uwcs
        HostName linux.student.cs.uwaterloo.ca
        User snedadah
        ForwardAgent yes
Host watojump
        HostName bastion.watonomous.ca
        User snedadah
        ForwardAgent yes
Host trpro-ubuntu1
        HostName trpro-ubuntu1.watocluster.local
        User snedadah
        ProxyJump snedadah@watojump
        ForwardAgent yes
Host csc
        HostName hfcs.csclub.uwaterloo.ca
        User snedadah
        ForwardAgent yes
Host csc2
        HostName caffeine.csclub.uwaterloo.ca
        User snedadah
        ForwardAgent yes
Host *
        AddKeysToAgent yes

