# CodeSandbox SSH Integration
Include "csb/config"
# End of CodeSandbox SSH Integration
#
Host elemental
        HostName elemental
        User shahann

Host uwcs
        HostName linux.student.cs.uwaterloo.ca
        User snedadah
        ForwardAgent yes
        IdentityFile ~/.ssh/id_ed25519
        AddKeysToAgent yes
Host uwds
        HostName datasci.cs.uwaterloo.ca
        User snedadah
        ForwardAgent yes
        IdentityFile ~/.ssh/id_ed25519
        AddKeysToAgent yes
        DynamicForward 1080

Host trpro-ubuntu2
        HostName trpro-ubuntu2.watocluster.local
        User snedadah
        ProxyJump snedadah@watojump
        ForwardAgent yes
Host csc
        HostName hfcs.csclub.uwaterloo.ca
        User snedadah
        ForwardAgent yes
        IdentityFile ~/.ssh/fedora_id_ed25519
Host csc2
        HostName caffeine.csclub.uwaterloo.ca
        User snedadah
        ForwardAgent yes
        IdentityFile ~/.ssh/fedora_id_ed25519

Host vip
        HostName lilac.uwaterloo.ca
        User shahanneda
        ForwardAgent yes
        IdentityFile ~/.ssh/fedora_id_ed25519
Host cit
        HostName citrus.uwaterloo.ca
        User shahan
        ForwardAgent yes
        IdentityFile ~/.ssh/fedora_id_ed25519

Host bastion
    HostName bastion.watonomous.ca
    User snedadah
    IdentityFile ~/.ssh/fedora_id_ed25519

Host derek3-ubuntu2
    HostName derek3-ubuntu2.cluster.watonomous.ca
    User snedadah
    IdentityFile ~/.ssh/fedora_id_ed25519
    ProxyJump snedadah@bastion

# Host delta-ubuntu2
#     HostName delta-ubuntu2.cluster.watonomous.ca
#     User snedadah
#     IdentityFile ~/.ssh/fedora_id_ed25519
#     ProxyJump snedadah@bastion

Host digi
  HostName 128.199.4.62
  User root
  ForwardAgent yes
  IdentityFile ~/.ssh/fedora_id_ed25519

Host github.com
        HostName github.com
        User shahanneda
        IdentityFile ~/.ssh/crontab
        IdentitiesOnly yes
Host nedabot
  HostName nedabot.local
  User nedabot
  ForwardAgent yes
Host frog
  HostName frog-desktop.local
  User frog
  ForwardAgent yes
Host eceterm
  HostName eceterm2.uwaterloo.ca
  User snedadah
  ForwardAgent yes
Host vel
  HostName max-velocity.private.uwaterloo.ca
  User snedadah
  ForwardAgent yes
Host starbucks
        HostName starbucks.uwaterloo.ca
        User shahanneda
        ForwardAgent yes
        #IdentityFile ~/.ssh/fedora_id_ed25519
        #
Host delta-ubuntu2
    HostName delta-ubuntu2.ext.watonomous.ca
    User snedadah
    IdentityFile ~/.ssh/id_ed25519
    LogLevel VERBOSE
    ForwardAgent yes
Host darth
    HostName darth.cs.uwaterloo.ca
    User shahan
    ForwardX11 yes
    ForwardX11Trusted yes
    XAuthLocation /opt/X11/bin/xauth
    ForwardAgent yes


Host tv
  HostName tv-desktop.local
  User tv

Host *
        AddKeysToAgent yes


