# CodeSandbox SSH Integration
Include "csb/config"
# End of CodeSandbox SSH Integration
#
Host elemental
        HostName elemental
        User shahann

Host uwcs
        HostName linux.student.cs.uwaterloo.ca
        User snedadah
        ForwardAgent yes
Host watojump
        HostName bastion.watonomous.ca
        User snedadah
        ForwardAgent yes
Host trpro-ubuntu2
        HostName trpro-ubuntu2.watocluster.local
        User snedadah
        ProxyJump snedadah@watojump
        ForwardAgent yes
Host csc
        HostName hfcs.csclub.uwaterloo.ca
        User snedadah
        ForwardAgent yes
Host csc2
        HostName caffeine.csclub.uwaterloo.ca
        User snedadah
        ForwardAgent yes

Host vip
        HostName lilac.uwaterloo.ca
        User shahanneda
        ForwardAgent yes
Host cit
        HostName citrus.uwaterloo.ca
        User shahan
        ForwardAgent yes
Host *
        AddKeysToAgent yes


